/*
Aufgabe: Aufgabe 9
Name: Mario Eigeldinger
Matrikel: 261167
Datum: 20.06.2020
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe...
*/
body, html {
    margin: 0em;
    width: 100%;
    height: 100%;
    }

/*#canvas {
    width: 100%;
    height: 100%;
}
*/